


.container1{
    padding: 15px;
    background-color: bisque;
}
.subheading{ text-align: center;
color:darkred}


header{display: inline-block;
width: 90%;
padding: 25px 80px;
background-color: black;
position: relative;}

.logo{float: left;
color: chartreuse;}

nav{float: right;}
nav ul li{ 
    display: inline-block;
    padding: 15px 25px;
}
nav ul li a{text-decoration: none;
display: inline-block;
color: chartreuse;
font-weight:  600;}

.toggle-btn{ width:25px ;
    position: absolute;
    right: 80px;
    top: 40px;
    display: none;
    
}
.toggle-btn span{
    display: inline-block;
    width: 100%;
    height: 20px;
    background-color:chartreuse;
    margin-bottom: 8px;
    float: right;
}
h2{ text-align: center;
font-weight: 60px;
}


@media (max-width:576px)
{
.toggle-btn{display: block;}
nav{display: none;
width: 100%;
border-top: 1px solid chartreuse;
padding-top: 20px;
margin-top: 30px;
}
nav ul li {
    padding: 15px 0px;
    width: 100%;
}

nav .show{
    display: block;
}}